<% if @google_books.present? %>
    <h1 class="text-2xl font-bold text-blue-600 mb-4">
        <%= "検索結果".upcase %>
    </h1>

    <% @google_books['items']&.each do |google_book| %>
        <div class="flex items-start mb-4">
            <div class="mr-4">
                <%= image_tag google_book_thumbnail(google_book) || 'default_image.png', class: "w-32 h-auto" %>
            </div>
            <div class="flex-1">
                <h2 class="text-lg font-bold"><%= google_book['volumeInfo']['title'] %></h2>
                <p class="text-gray-700">
                    <%= google_book['volumeInfo']['authors']&.join(', ') %>
                </p>
                <p class="text-gray-500"><%= google_book['volumeInfo']['publishedDate'] %></p>
                <%= form_with model: @book, local: true, id: "new_book" do |f| %>
                    <%= f.hidden_field :title, value: set_google_book_params(google_book)["title"] %>
                    <%= f.hidden_field :published_date, value: set_google_book_params(google_book)["publishedDate"] %>
                    <%= f.hidden_field :info_link, value: set_google_book_params(google_book)["canonicalVolumeLink"] %>
                    <%= f.hidden_field :image_link, value: set_google_book_params(google_book)["bookImage"] %>
                    <%= f.hidden_field :systemid, value: set_google_book_params(google_book)["systemid"] %>
                    <% set_google_book_params(google_book)["authors"]&.each do |author| %>
                        <%= hidden_field_tag 'book[authors][]', author %>
                    <% end %>
                    <%= button_tag type: "submit", class: "mt-2 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition" do %>
                       <i class="fa-regular fa-square-plus"></i> よみたいに追加
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>