<% if @books.present? %>
  <h2>検索結果</h2>
  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <% @books.each do |book| %>
      <div style="border: 1px solid #ddd; border-radius: 5px; padding: 10px; margin: 10px; width: calc(30% - 20px);">
        <h3><%= book['title'] %></h3>
        <p><strong>著者:</strong> <%= book['author'] %></p>
        <div style="text-align: center;">
          <% if book['image_link'] %>
            <%= link_to image_tag(book['image_link'], alt: book['title'], width: 100), book['info_link'], target: "_blank" %>
          <% end %>
        </div>
        <div style="text-align: center; margin-top: 10px;">
          <%= link_to "詳細", book['info_link'], target: "_blank", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <div style="text-align: center; margin-top: 20px;">
    <%= paginate @books %>
  </div>
<% elsif params[:search_term] %>
  <p>検索結果がありません。</p>
<% end %>
