<h1 class="text-3xl font-bold"><%= @book_details['volumeInfo']['title'] %></h1>

<% if @book_details['volumeInfo']['imageLinks'] %>
  <img src="<%= @book_details['volumeInfo']['imageLinks']['thumbnail'] %>" alt="<%= @book_details['volumeInfo']['title'] %>">
<% end %>

<p><strong>著者:</strong> <%= @book_details['volumeInfo']['authors']&.join(', ') %></p>
<p><strong>出版日:</strong> <%= @book_details['volumeInfo']['publishedDate'] %></p>
<p><strong>出版社:</strong> <%= @book_details['volumeInfo']['publisher'] %></p>
<p><strong>ページ数:</strong> <%= @book_details['volumeInfo']['pageCount'] %></p>
<p><strong>評価:</strong> <%= @book_details['volumeInfo']['averageRating'] %></p>
<p><strong>ジャンル:</strong> <%= @book_details['volumeInfo']['categories']&.join(', ') %></p>

<p><strong>説明:</strong></p>
<% description = @book_details['volumeInfo']['description'].gsub(/<b>|<\/b>|<wbr>/, '') %>
<% description.split("\n").each do |paragraph| %>
  <p><%= paragraph.strip %></p>
<% end %>

<p><strong>詳細情報:</strong> <%= link_to 'Google Booksで見る', @book_details['volumeInfo']['canonicalVolumeLink'], target: '_blank' %></p>

<%= link_to '一覧に戻る', search_books_path %>
