  <!DOCTYPE html>
  <html>
    <head>
      <title><%= content_for(:title) || "Myapp" %></title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'home' if controller_name == 'homes' && action_name == 'top' %>
      <%= yield :head %>
      
      <link rel="icon" href="/icon.png" type="image/png">
      <link rel="icon" href="/icon.svg" type="image/svg+xml">
      <link rel="apple-touch-icon" href="/icon.png">

      <%# Includes all stylesheet files in app/assets/stylesheets %>
      <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    
    <body>
      <div class="main">
        <header>
          <nav class="navbar navbar-expand">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">ReadLink</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                </ul>

                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn", style: "background-color: #00188A; color: white;" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "ログイン", new_user_session_path, class: "btn", style: "background-color: #00188A; color: white;" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '新規登録', new_user_registration_path, class: "btn", style: "background-color: #00188A; color: white;" %>
                  </li>
                <% end %>
              </div>
            </div>
          </nav>
          <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
        </header>

        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type == 'notice' ? 'success' : 'danger' %>">
           <%= message %>
          </div>
        <% end %>

        <%= yield %>
        
        <footer>
          <nav>
            <ul>
              <li><a href="#">お問い合わせ</a></li>
              <li><a href="#">利用規約</a></li>
              <li><a href="#">プライバシーポリシー</a></li>
            </ul>
          </nav>
        </footer>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
  </html>